{% extends "base.html" %}
{% block content %}
<h2>Meu Fotolog</h2>
<div class="row">
  {% for post in posts %}
  <div class="col-md-6 mb-4">
    <img src="{{ url_for('static', path='uploads/' ~ post.filename) }}" class="img-fluid rounded">
    <h5>{{ post.title }}</h5>
    <p>{{ post.caption }}</p>
    <small>{{ post.created_at.strftime('%d/%m/%Y') }}</small>
    <form action="/like_once/{{ post.id }}" method="post" class="d-inline">
        <button class="btn btn-sm btn-outline-primary">Curtir ({{ post.likes }})</button>
    </form>
    <div class="mt-2">
        <form action="/comment/{{ post.id }}" method="post">
            <input type="text" name="content" class="form-control mb-1" placeholder="Comentário">
            <button class="btn btn-sm btn-outline-success">Comentar</button>
        </form>
        <ul class="list-group mt-2">
          <li class="list-group-item active">Comentários ({{ post.comments|length }})</li>
          {% for comment in post.comments %}
          <li class="list-group-item d-flex justify-content-between">
              <span>{{ comment.content }}</span>
              <span>
                <a href="/edit_comment/{{ comment.id }}" class="btn btn-sm btn-warning">Editar</a>
                <a href="/delete_comment/{{ comment.id }}" class="btn btn-sm btn-danger">Excluir</a>
              </span>
          </li>
          {% endfor %}
        </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
